openapi: 3.0.0
info:
  title: Nexumed API - Work Order Upload
  version: 1.0.0
  description: |
    This API allows EMRs to send patient work order files to Nexumed for secure processing and device-specific routing.

    **Security**: All requests must be sent over HTTPS.

    ---
    **Endpoints Overview**:
    - `POST /api/receive-file-key`: Advanced file upload where the user's **API key** is explicitly provided via a query parameter, and the procedure type is automatically determined from the uploaded file.
    - `GET /api/procedures`: Returns the list of configured procedures (ECG, BP, Spiro, etc.) for the doctor associated with the provided API key.
    - `GET /emr/eid/{drsId}/patient-data-out`: Get the most recently staged eID patient XML for a doctor.
    - `GET /api/emr/results`: Returns all queued result files (e.g. File format needed, PDFs) for the doctor's configured EMR provider.

servers:
  - url: https://api.nexumed.eu
    description: Production server

paths:
  /api/receive-file-key:
    post:
      summary: Upload work order file using API key
      description: |
        Upload a patient work order file.

        Nexumed will:
        - Validate the API key and doctor subscription.
        - Detect file format (GDT / XML / HL7 / Unknown).
        - Detect procedure from file content.
        - Attempt to route and convert the work order internally based on the doctor's configuration.

        This endpoint is intended as a fire-and-forget upload endpoint.
      parameters:
        - name: apiKey
          in: query
          required: true
          description: API key provided by Nexumed for authenticating the sender
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The medical work order file (GDT, XML, HL7).
      responses:
        "200":
          description: File received and processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Work order parsed
                  drsId:
                    type: string
                    example: "98765432112"
                  emr:
                    type: string
                    example: "EMR name"
                  procedure:
                    type: string
                    example: "Spiro"
                  format:
                    type: string
                    enum: [GDT, XML, HL7, FHIR, Unknown]
                    example: "XML"
                    oneOf:
                      - type: "null"
                      - type: object
                        description: Conversion applied internally
                        required:
                          - mode
                          - targetFormat
                        properties:
                          mode:
                            type: string
                            enum: ["file"]
                            example: "file"
                          targetFormat:
                            type: string
                            example: "GDT"
                      - type: object
                        description: MIR work order queued internally
                        required:
                          - mode
                          - targetFormat
                          - orderId
                        properties:
                          mode:
                            type: string
                            enum: ["mirQueue"]
                            example: "mirQueue"
                          targetFormat:
                            type: string
                            enum: ["HL7"]
                            example: "HL7"
                          orderId:
                            type: string
                            example: "c1f8a7b8-5c29-4dd3-b8c0-7f5f4c2a21cd"
        "400":
          description: Bad request (missing apiKey or missing file)
        "401":
          description: Unauthorized (invalid API key)
        "403":
          description: Subscription inactive or not allowed
        "500":
          description: Internal server error

  /api/procedures:
    get:
      summary: Get procedures for doctor's devices (via API key)
      description: |
        Returns the list of unique procedures (e.g. ECG, BP, Spiro, Otoscope) configured
        for the doctor associated with the provided API key.

        The API key is used to look up the doctor and their selected devices inside Nexumed;
        The procedure names are returned in the response.
      parameters:
        - name: apiKey
          in: query
          required: true
          description: API key provided by Nexumed for authenticating the EMR / doctor
          schema:
            type: string
      responses:
        "200":
          description: Successfully resolved procedures for this doctor
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  procedures:
                    type: array
                    items:
                      type: string
              example:
                ok: true
                procedures:
                  - Otoscope
                  - Spiro
                  - BP
                  - ECG
        "400":
          description: Bad request (missing apiKey)
        "401":
          description: Unauthorized (invalid or unknown apiKey)
        "500":
          description: Internal server error

  /emr/eid/{drsId}/patient-data-out:
    get:
      summary: eID reader — GET patient data XML
      description: |
        Returns the most recently staged eID patient XML for the given **drsId**.
        Supports conditional requests via **If-None-Match**.
        Returns **404** if no file is staged or it expired (5 min from time it has been pushed in the Nexumed App).
      parameters:
        - name: drsId
          in: path
          required: true
          description: Unique doctor/practice identifier used when staging the work order
          schema:
            type: string
        - name: If-None-Match
          in: header
          required: false
          description: ETag from a previous 200 response; if it matches, a **304 Not Modified** is returned
          schema:
            type: string
            example: "\"6f1d7a1b9e2d3c4f...\""
      responses:
        "200":
          description: XML found and returned
          headers:
            ETag:
              description: Strong ETag for the XML body (quoted)
              schema:
                type: string
                example: "\"6f1d7a1b9e2d3c4f...\""
            Last-Modified:
              description: When the payload was staged (HTTP-date)
              schema:
                type: string
                example: "Tue, 04 Nov 2025 12:34:56 GMT"
            X-Checksum-SHA256:
              description: SHA-256 checksum of the XML body (hex)
              schema:
                type: string
                example: "6f1d7a1b9e2d3c4f9a0b..."
            Cache-Control:
              description: No-store to prevent caching at rest
              schema:
                type: string
                example: "no-store"
            Content-Disposition:
              description: Suggested filename
              schema:
                type: string
                example: "attachment; filename=\"patient-data-out.xml\""
            Content-Length:
              description: Length of the XML body in bytes
              schema:
                type: string
                example: "12345"
          content:
            application/xml:
              schema:
                type: string
              example: |
                <?xml version="1.0" encoding="UTF-8"?>
                <eid version="4.5">
                  <identity nationalnumber="00000000000" dateofbirth="19700101" gender="male" specialstatus="NO_STATUS">
                    <name>DOE JOHN</name>
                    <firstname>JOHN</firstname>
                    <nationality>BE</nationality>
                    <placeofbirth>BRUSSELS</placeofbirth>
                    <photo></photo>
                  </identity>
                </eid>
        "304":
          description: Not Modified (content unchanged since the provided ETag)
        "404":
          description: No staged XML found for this drsId, or it has expired
          content:
            text/plain:
              schema:
                type: string
                example: Not found or expired
        "500":
          description: Internal server error

  /api/emr/results:
    get:
      summary: Fetch queued EMR results (via API key).
      description: |
        Returns **all queued results** currently staged for this doctor's configured EMR provider.

        This is intended for EMRs to request periodically (e.g. after each patient or end-of-day).
      parameters:
        - name: apiKey
          in: query
          required: true
          description: API key provided by Nexumed for authenticating the EMR / doctor
          schema:
            type: string
      responses:
        "200":
          description: Results returned successfully (queue was cleared after reading)
          content:
            application/json:
              schema:
                type: object
                required: [ok, provider, count, results]
                properties:
                  ok:
                    type: boolean
                    example: true
                  provider:
                    type: string
                    example: "EMR name"
                  count:
                    type: integer
                    example: 2
                  results:
                    type: array
                    description: |
                      Array of result objects (each item is a JSON object previously queued by Nexumed).
                      Contents can include XML/PDF payloads and metadata like procedure/device/model.
                    items:
                      type: object
                      additionalProperties: true
              example:
                ok: true
                provider: "EMR name"
                count: 2
                results:
                  - resultId: "43feba5-6c91-436a-9e9e-2771ecc2ebfd"
                    provider: "EMR name"
                    procedure: "ECG"
                    device: "SCHILLER"
                    model: "CARDIOVIT-AT-102-G2"
                    createdAt: "2025-12-24T10:56:11.982Z"
                    files:
                      - type: "KMEHR_XML"
                        fileName: "SMITH_kmehr_1766573771982.xml"
                        mimeType: "application/xml"
                        encoding: "utf8"
                        content: "<kmehrmessage xmlns=\"http://www.ehealth.fgov.be/standards/kmehr/schema/v1\">...</kmehrmessage>"
                      - type: "PDF"
                        fileName: "SMITH_ECG_1766573771960.pdf"
                        mimeType: "application/pdf"
                        encoding: "base64"
                        content: "JVBERi0xLjQKJ..."
                  - resultId: "3707f1ca-11da-4fe4-8756-d557d42405c2"
                    provider: "EMR name"
                    procedure: "ECG"
                    device: "SCHILLER"
                    model: "CARDIOVIT-AT-102-G2"
                    createdAt: "2025-12-24T10:56:36.299Z"
                    files:
                      - type: "KMEHR_XML"
                        fileName: "ANDERSON_kmehr_1766573796299.xml"
                        mimeType: "application/xml"
                        encoding: "utf8"
                        content: "<kmehrmessage ...>...</kmehrmessage>"
                      - type: "PDF"
                        fileName: "ANDERSON_ECG_1766573771960.pdf"
                        mimeType: "application/pdf"
                        encoding: "base64"
                        content: "JVBERi0xLjQKJ..."
        "204":
          description: No queued results available (empty queue)
        "400":
          description: Bad request (missing apiKey, or user has no EMR provider configured)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Missing apiKey"
        "401":
          description: Unauthorized (invalid API key)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Invalid API key"
        "403":
          description: Subscription inactive or not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Subscription inactive"
                  drsId:
                    type: string
                    example: "98765432112"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Failed to fetch EMR results"

