openapi: 3.0.0
info:
  title: Nexumed API - Work Order Upload
  version: 1.0.0
  description: |
    This API allows EMRs to send patient work order files to Nexumed for secure processing and device-specific routing.

    **Security**: All requests must be sent over HTTPS.

    ---
    **Endpoints Overview**:
    - `POST /api/receive-file-key`: Advanced file upload where the user's **API key** is explicitly provided via a query parameter, and the procedure type is automatically determined from the uploaded file.
    - `GET /api/procedures`: Returns the list of configured procedures (ECG, BP, Spiro, etc.) for the doctor associated with the provided API key.
    - `GET /emr/eid/{drsId}/patient-data-out:`: Advanced file get, where the doctor's ID number (**drsID**) is explicitly provided via query parameters.
    

servers:
  - url: https://api.nexumed.eu
    description: Production server

paths:
  # /api/receive-file:
  #   post:
  #     summary: Upload work order file with explicit procedure routing
  #     description: |
  #       This endpoint allows an EMR to send a patient work order file to Nexumed **along with the intended procedure type** for direct routing to the appropriate device or service. Those file formats accepted are GDT/XML/HL7/FHIR and DICOM.
  #       - Requires both the `drsID` and `procedure` query parameters.
  #     parameters:
  #       - name: drsID
  #         in: query
  #         required: true
  #         description: Unique identifier for the doctor or practice sending the file
  #         schema:
  #           type: string
  #       - name: procedure
  #         in: query
  #         required: true
  #         description: Type of medical procedure to route the file to
  #         schema:
  #           type: string
  #           enum: [ECG, BP, Spiro, SPO2, TEMP]
  #     requestBody:
  #       required: true
  #       content:
  #         multipart/form-data:
  #           schema:
  #             type: object
  #             required: [file]
  #             properties:
  #               file:
  #                 type: string
  #                 format: binary
  #                 description: The medical file to upload
  #     responses:
  #       '200':
  #         description: File successfully uploaded
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 message:
  #                   type: string
  #                   example: File successfully uploaded
  #       '400': { description: Bad request (missing procedure, drsID, or file) }
  #       '500': { description: Internal server error }

  /api/receive-file-key:
    post:
      summary: Upload work order file using API key (procedure detected automatically)
      description: |
        Upload a patient work order file. Nexumed will automatically determine the procedure
        using the embedded information inside the file content.

        Allowed procedure keys used internally by Nexumed:
        - BP
        - ECG
        - Spiro
        - SPO2
        - TEMP
        - RR
        - HR
        - Unknown
        - Otoscope

        Behaviour:

        - Validates the API key and doctor subscription.
        - Detects file format: GDT / XML / HL7 / Unknown.
        - Detects procedure from file content (e.g. ECG, Spiro, BP, Otoscope).
        - Looks up the mapped device for that procedure (if any).

        Response variants (HTTP 200):
        - **Otoscope**: file is forwarded to `/api/otoscope` (mobile app flow), no `converted`.
        - **No device**: no matching device found ⇒ `converted: null`.
        - **MIR Spiro**: HL7 is queued in Redis ⇒ `converted.mode = "mirQueue"`.
        - **Normal device**: converted file returned ⇒ `converted.mode = "file"`.

        Requires:
        - `apiKey` query parameter
        - `file` in multipart/form-data
      parameters:
        - name: apiKey
          in: query
          required: true
          description: API key provided by Nexumed for authenticating the sender
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The medical file to upload.
      responses:
        '200':
          description: File successfully processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Work order parsed (no routing applied yet)
                  drsId:
                    type: string
                    example: "98765432112"
                  emr:
                    type: string
                    example: "Medinect"
                  procedure:
                    type: string
                    description: Detected procedure from file content
                    example: "Spiro"
                  format:
                    type: string
                    description: Detected incoming file format
                    enum: [GDT, XML, HL7, Unknown]
                    example: "XML"
                  forwardedTo:
                    type: string
                    nullable: true
                    description: |
                      Present only for the Otoscope cloud flow.
                      Indicates that the file was forwarded internally.
                    example: "/api/otoscope"
                  converted:
                    description: |
                      Result of device-specific conversion.

                      - `null`          → no matching device configured.
                      - `mirQueue` mode → MIR Spiro HL7 queued in Redis.
                      - `file` mode     → converted file content to be written by Nexumed Desktop.
                    nullable: true
                    oneOf:
                      # no-device case: converted === null (represented by nullable: true above)
                      - type: "null"
                        description: No device routing was applied.
                      # MIR queue case
                      - type: object
                        description: MIR Spiro work order queued in Redis
                        required: [mode, targetFormat, orderId]
                        properties:
                          mode:
                            type: string
                            enum: ["mirQueue"]
                            example: "mirQueue"
                          targetFormat:
                            type: string
                            description: Target format for MIR
                            example: "HL7"
                          orderId:
                            type: string
                            description: Server-generated work order ID
                            example: "c1f8a7b8-5c29-4dd3-b8c0-7f5f4c2a21cd"
                      # normal device / file case
                      - type: object
                        description: Converted file for a device-based workflow
                        required:
                          - mode
                          - targetFormat
                          - content
                        properties:
                          mode:
                            type: string
                            enum: ["file"]
                            example: "file"
                          targetFormat:
                            type: string
                            description: Format expected by the device
                            example: "GDT"
                          content:
                            type: string
                            description: Converted file content (GDT / HL7 / XML, etc.)
                            example: "01380006302\r\n014810000264\r\n..."
                          pathWorkOrder:
                            type: string
                            nullable: true
                            description: |
                              Target workorder folder path for the device, if configured.
                              Nexumed Desktop typically writes `fileName` into this folder.
                            example: "C:\\Nexumed\\Spirometry"
                          pathProcedure:
                            type: string
                            nullable: true
                            description: Optional device procedure folder path, if applicable.
                            example: "C:\\Nexumed\\Spirometry\\Results"
                          fileName:
                            type: string
                            nullable: true
                            description: |
                              Suggested filename for the converted file.
                              Defaults to `DEV1EMR1.gdt` if omitted.
                            example: "DEV1EMR1.gdt"
        '400':
          description: Bad request (missing apiKey or missing/invalid file)
        '401':
          description: Unauthorized (invalid API key)
        '403':
          description: Subscription inactive or not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Subscription inactive. Please renew.
                  drsId:
                    type: string
                    example: "98765432112"
                  emr:
                    type: string
                    example: "Medinect"
        '404':
          description: Doctor not found for this API key
        '500':
          description: Internal server error




  /api/procedures:
    get:
      summary: Get procedures for doctor's devices (via API key)
      description: |
        Returns the list of unique procedures (e.g. ECG, BP, Spiro, Otoscope) configured
        for the doctor associated with the provided API key.

        The API key is used to look up the doctor and their selected devices inside Nexumed;
        The procedure names are returned in the response.
      parameters:
        - name: apiKey
          in: query
          required: true
          description: API key provided by Nexumed for authenticating the EMR / doctor
          schema:
            type: string
      responses:
        '200':
          description: Successfully resolved procedures for this doctor
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  procedures:
                    type: array
                    description: Unique list of procedures enabled for this doctor
                    items:
                      type: string
                      enum:
                        - ECG
                        - BP
                        - Spiro
                        - SPO2
                        - TEMP
                        - ABPM
                        - Vital Signs
                        - Otoscope
                        - Dermatoscope
                        - Ultrasound
                    example:
                      - Otoscope
                      - Spiro
                      - BP
                      - ECG
        '400': { description: Bad request (missing apiKey) }
        '401': { description: Unauthorized (invalid or unknown apiKey) }
        '500': { description: Internal server error }

  /emr/eid/{drsId}/patient-data-out:
    get:
      summary: eID reader — GET patient data XML
      description: |
        Returns the most recently staged eID patient XML for the given **drsId**.
        Supports conditional requests via **If-None-Match**'' Returns **404** if no file is staged or it expired (5 min from time it has been pushed in the Nexumed App).
      parameters:
        - name: drsId
          in: path
          required: true
          description: Unique doctor/practice identifier used when staging the work order
          schema: { type: string }
        - name: If-None-Match
          in: header
          required: false
          description: ETag from a previous 200 response; if it matches, a **304 Not Modified** is returned
          schema:
            type: string
            example: "\"6f1d7a1b9e2d3c4f...\""
      responses:
        '200':
          description: XML found and returned
          headers:
            ETag:
              description: Strong ETag for the XML body (quoted)
              schema: { type: string, example: "\"6f1d7a1b9e2d3c4f...\"" }
            Last-Modified:
              description: When the payload was staged (HTTP-date)
              schema: { type: string, example: "Tue, 04 Nov 2025 12:34:56 GMT" }
            X-Checksum-SHA256:
              description: SHA-256 checksum of the XML body (hex)
              schema: { type: string, example: "6f1d7a1b9e2d3c4f9a0b..." }
            Cache-Control:
              description: No-store to prevent caching at rest
              schema: { type: string, example: "no-store" }
            Content-Disposition:
              description: Suggested filename
              schema: { type: string, example: "attachment; filename=\"patient-data-out.xml\"" }
            Content-Length:
              description: Length of the XML body in bytes
              schema: { type: string, example: "12345" }
          content:
            application/xml:
              schema:
                type: string
                example: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <eid version="4.5">
                    <identity nationalnumber="70072259768" dateofbirth="19700722" gender="male"/>
                  </eid>
        '304': { description: Not Modified (content unchanged since the provided ETag) }
        '404':
          description: No staged XML found for this drsId, or it has expired
          content:
            text/plain:
              schema: { type: string, example: Not found or expired }
        '500': { description: Internal server error }
