openapi: 3.0.0
info:
  title: Nexumed API
  version: 1.0.0
  description: |
    This API allows EMRs to send patient work order files to Nexumed for secure processing and device-specific routing.

    **Security**: All requests must be sent over HTTPS.

    ---
    **Endpoints Overview**:
    - `POST /api/healthone/new-account`: HealthOne provisioning endpoint (OAuth-protected) to create a practice + admin + users.
    - `POST /api/healthone/workorders`: HealthOne work order endpoint (API key) to submit patient + procedure work orders in JSON.
    - `POST /api/receive-file-key`: Advanced file upload where the practice **API key** is provided via HTTP header (`x-api-key`). Nexumed automatically determines the procedure type from the uploaded file.
    - `GET /api/emr/procedures`: Returns the list of configured procedures (ECG, BP, Spiro, etc.) for the **practice** associated with the provided API key.
    - `GET /emr/eid/{drsId}/patient-data-out`: Get the most recently staged eID patient XML for a doctor.
    - `GET /api/emr/results`: Returns all queued result files (e.g. required file formats, PDFs) for the practice’s configured EMR provider.

servers:
  - url: https://api.nexumed.eu
    description: Production server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

    HealthOneOAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ErrorResponse:
      type: object
      properties:
        message:
          type: string

    HealthOneIncomingUser:
      type: object
      required: [email, drsId]
      properties:
        email:
          type: string
          example: "dr.vangastel@nexumed.be"
        role:
          type: string
          description: Must be one of the supported HealthOne roles.
          enum: ["Doctor", "Nurse", "Office Manager", "Admin", "IT"]
          example: "Doctor"
        drsId:
          type: string
          example: "12345678901"
        firstName:
          type: string
          example: "Andre"
        lastName:
          type: string
          example: "Van Gastel"

    HealthOnePractice:
      type: object
      required: [name]
      properties:
        name:
          type: string
          example: "Huisartsenpraktijk Scharlach"
        vat:
          type: string
          example: "BE0123456789"
        addressLine1:
          type: string
          example: "Kerkstraat 10"
        postalCode:
          type: string
          example: "2000"
        town:
          type: string
          example: "Antwerpen"
        countryCode:
          type: string
          example: "BE"
        phone:
          type: string
          example: "+32479172881"

    HealthOneProvisioningPayload:
      type: object
      required: [schemaVersion, practice, admin, users]
      properties:
        schemaVersion:
          type: string
          example: "1.0"
        practice:
          $ref: "#/components/schemas/HealthOnePractice"
        admin:
          $ref: "#/components/schemas/HealthOneIncomingUser"
        users:
          type: array
          items:
            $ref: "#/components/schemas/HealthOneIncomingUser"

    HealthOneProvisioningCreatedItem:
      type: object
      required: [email, drsId, userId, isAdmin]
      properties:
        email:
          type: string
        drsId:
          type: string
        userId:
          type: string
        isAdmin:
          type: boolean

    HealthOneProvisioningSkippedItem:
      type: object
      required: [email, drsId, reason]
      properties:
        email:
          type: string
        drsId:
          type: string
        reason:
          type: string

    HealthOneProvisioningResponse:
      type: object
      required: [ok, practice, createdCount, skippedCount, created, skipped]
      properties:
        ok:
          type: boolean
          example: true
        practice:
          type: object
          required: [name, practiceId]
          properties:
            name:
              type: string
            practiceId:
              type: string
        createdCount:
          type: integer
        skippedCount:
          type: integer
        created:
          type: array
          items:
            $ref: "#/components/schemas/HealthOneProvisioningCreatedItem"
        skipped:
          type: array
          items:
            $ref: "#/components/schemas/HealthOneProvisioningSkippedItem"

    HealthOneWorkOrderPatient:
      type: object
      required: [id, firstName, lastName]
      properties:
        id:
          type: string
          example: "8234576"
        firstName:
          type: string
          example: "John"
        lastName:
          type: string
          example: "Doe"
        birthDate:
          type: string
          description: ISO date (YYYY-MM-DD)
          example: "2000-10-01"
        gender:
          description: |
            HealthOne gender code. Nexumed will normalize internally.
            (e.g., 1=Male, 2=Female depending on HealthOne convention)
          oneOf:
            - type: integer
            - type: string
          example: 1

    HealthOneWorkOrderDoctor:
      type: object
      properties:
        drsId:
          type: string
          example: "12345678901"
        firstName:
          type: string
          example: "Andre"
        lastName:
          type: string
          example: "Van Gastel"

    HealthOneWorkOrderPayload:
      type: object
      required: [schemaVersion, procedure, patient]
      properties:
        schemaVersion:
          type: string
          example: "1.0"
        visitNumber:
          type: string
          example: "1234"
        activityId:
          type: string
          example: "12345"
        scheduledDateTime:
          type: string
          description: ISO datetime (recommended with timezone)
          example: "2026-02-04T15:30:00+01:00"
        procedure:
          type: string
          description: Procedure short name (Nexumed will normalize)
          example: "ECG"
        patient:
          $ref: "#/components/schemas/HealthOneWorkOrderPatient"
        doctor:
          $ref: "#/components/schemas/HealthOneWorkOrderDoctor"

    HealthOneWorkOrderResponse:
      type: object
      required: [message, drsId, emr, procedure, format]
      properties:
        message:
          type: string
          example: "HealthOne work order received"
        reqId:
          type: string
          example: "1739435212345-acde12"
        drsId:
          type: string
          example: "114623234"
        emr:
          type: string
          example: "HealthOne"
        procedure:
          type: string
          example: "ECG"
        format:
          type: string
          example: "HealthOneJSON"
        device:
          nullable: true
          type: object
          additionalProperties: true
        forwardedTo:
          nullable: true
          type: string
          example: "MESI_CLOUD_TASK_API"
        mesiTaskId:
          nullable: true
          type: string
          example: "a1b2c3d4"
        mesiIntegrationId:
          nullable: true
          type: string
          example: "integration-xyz"
        converted:
          nullable: true
          description: Present when conversion/queue was performed; otherwise null
          type: object
          additionalProperties: true

paths:
  /api/healthone/new-account:
    post:
      summary: HealthOne — Provision a new practice (admin + users)
      description: |
        Creates a new Nexumed practice context for HealthOne, including:
        - 1 admin user (source of truth for practice configuration)
        - 0..N additional users
        - A practice API key (generated once and sent **only to the admin** via email)
        - Email provisioning (verification + temporary password) for all created users

        **Important notes**
        - The API key is **not** returned in the API response; it is sent to the admin via email.
        - If a user already exists (email or drsId), they are skipped.
        - `practiceId` is resolved as:
          - If an existing user already has the same practice name + practiceId, that practiceId is reused.
          - Otherwise a new unique practiceId is generated.
      security:
        - HealthOneOAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthOneProvisioningPayload"
            example:
              schemaVersion: "1.0"
              practice:
                name: "Huisartsenpraktijk Scharlach"
                vat: "BE0123456789"
                addressLine1: "Kerkstraat 10"
                postalCode: "2000"
                town: "Antwerpen"
                countryCode: "BE"
                phone: "+32479172881"
              admin:
                email: "admin@nexumed.be"
                role: "Can be anyone of: Doctor, Nurse, Office Manager, Admin, IT"
                drsId: "97463524132"
                firstName: "Joel"
                lastName: "Scharlach"
              users:
                - email: "dr.vangastel@nexumed.be"
                  role: "Doctor"
                  drsId: "12345678901"
                  firstName: "Andre"
                  lastName: "Van Gastel"
                - email: "dr.schoofs@nexumed.be"
                  role: "Doctor"
                  drsId: "10987654321"
                  firstName: "Katrijn"
                  lastName: "Schoofs"
                - email: "nurse.peeters@nexumed.be"
                  role: "Nurse"
                  drsId: "998877"
                  firstName: "Jente"
                  lastName: "Peeters"
                - email: "office@nexumed.be"
                  role: "Office Manager"
                  drsId: "0003"
                  firstName: "Sofie"
                  lastName: "Janssens"
                - email: "it@nexumed.be"
                  role: "IT"
                  drsId: "0009"
                  firstName: "Jelle"
                  lastName: "Jans"
      responses:
        "201":
          description: Provisioning completed (some users may be skipped)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthOneProvisioningResponse"
        "400":
          description: Invalid request (missing required fields)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "admin.email and admin.drsId are required"
        "401":
          description: Unauthorized (missing/invalid OAuth token)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "Unauthorized"
        "500":
          description: Internal server error (provisioning failed)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "Failed to provision HealthOne practice."

  /api/healthone/workorders:
    post:
      summary: HealthOne — Submit a work order (patient + procedure)
      description: |
        Submits a work order in JSON format from HealthOne to Nexumed.

        **Authentication**:
        - HTTP header: `x-api-key: YOUR_API_KEY`

        Nexumed will:
        - Validate the API key and active subscription.
        - Normalize procedure name and key patient fields.
        - Route the work order to the configured device workflow.
        - If the configured device is MESI, Nexumed may forward the order to the MESI Cloud Task API.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthOneWorkOrderPayload"
            example:
              schemaVersion: "1.0"
              visitNumber: "1234"
              activityId: "12345"
              scheduledDateTime: "2026-02-04T15:30:00+01:00"
              procedure: "ECG"
              patient:
                id: "8234576"
                firstName: "John"
                lastName: "Doe"
                birthDate: "2000-10-01"
                gender: 1
              doctor:
                drsId: "12345678901"
                firstName: "Andre"
                lastName: "Van Gastel"
      responses:
        "200":
          description: Work order accepted and processed (may be forwarded/converted internally)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthOneWorkOrderResponse"
        "400":
          description: Bad request (missing API key)
        "401":
          description: Unauthorized (invalid API key)
        "403":
          description: Subscription inactive or not allowed
        "422":
          description: Invalid payload (missing required fields)
        "500":
          description: Internal server error

  /api/receive-file-key:
    post:
      summary: Upload work order file (via API key)
      description: |
        Upload a patient work order file.

        **Authentication**:
        - HTTP header: `x-api-key: YOUR_API_KEY`

        Nexumed will:
        - Validate the API key and subscription.
        - Detect file format (GDT / XML / HL7 / Unknown).
        - Detect procedure from file content.
        - Attempt to route and convert the work order internally based on the practice configuration.

        This endpoint is intended as a fire-and-forget upload endpoint.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: The medical work order file (GDT, XML, HL7).
      responses:
        "200":
          description: File received and processed
          content:
            application/json:
              schema:
                type: object
                required: [message, drsId, emr, procedure, format]
                properties:
                  message:
                    type: string
                    example: Work order parsed
                  drsId:
                    type: string
                    example: "98765432112"
                  emr:
                    type: string
                    example: "EMR name"
                  procedure:
                    type: string
                    example: "Spiro"
                  format:
                    type: string
                    enum: [GDT, XML, HL7, Unknown]
                    example: "XML"
                  device:
                    nullable: true
                    description: Matching device configuration for this procedure (if found)
                    type: object
                    additionalProperties: true
                  converted:
                    nullable: true
                    description: Present when a conversion or queue action was performed; otherwise null
                    oneOf:
                      - type: "null"
                      - type: object
                        description: Conversion applied internally (file mode)
                        required: [mode, targetFormat]
                        properties:
                          mode:
                            type: string
                            enum: ["file"]
                            example: "file"
                          targetFormat:
                            type: string
                            example: "GDT"
                      - type: object
                        description: MIR work order queued internally
                        required: [mode, targetFormat, orderId]
                        properties:
                          mode:
                            type: string
                            enum: ["mirQueue"]
                            example: "mirQueue"
                          targetFormat:
                            type: string
                            enum: ["HL7"]
                            example: "HL7"
                          orderId:
                            type: string
                            example: "c1f8a7b8-5c29-4dd3-b8c0-7f5f4c2a21cd"
        "400":
          description: Bad request (missing file)
        "401":
          description: Unauthorized (invalid API key)
        "403":
          description: Subscription inactive or not allowed
        "413":
          description: File too large
        "500":
          description: Internal server error

  /api/emr/procedures:
    get:
      summary: Get procedures configured for a practice (via API key)
      description: |
        Returns the list of unique procedures (e.g. ECG, BP, Spiro, TEMP)
        configured for the practice associated with the provided API key.

        **Authentication**:
        - HTTP header: `x-api-key: YOUR_API_KEY`

        The API key is used to look up the practice owner (admin = true) inside Nexumed;
        procedure names are returned from the practice’s shared device configuration.
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Successfully resolved procedures for this practice
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  procedures:
                    type: array
                    items:
                      type: string
              example:
                ok: true
                procedures:
                  - TEMP
                  - Spiro
                  - SPO2
                  - ECG
        "400":
          description: Missing API key
        "401":
          description: Unauthorized (invalid or unknown API key)
        "500":
          description: Internal server error

  /emr/eid/{drsId}/patient-data-out:
    get:
      summary: eID reader — GET patient data XML
      description: |
        Returns the most recently staged eID patient XML for the given **drsId**.
        Supports conditional requests via **If-None-Match**.
        Returns **404** if no file is staged or it expired (5 min from time it has been pushed in the Nexumed App).
      parameters:
        - name: drsId
          in: path
          required: true
          description: Unique doctor/practice identifier used when staging the work order
          schema:
            type: string
        - name: If-None-Match
          in: header
          required: false
          description: ETag from a previous 200 response; if it matches, a **304 Not Modified** is returned
          schema:
            type: string
            example: "\"6f1d7a1b9e2d3c4f...\""
      responses:
        "200":
          description: XML found and returned
          headers:
            ETag:
              description: Strong ETag for the XML body (quoted)
              schema:
                type: string
                example: "\"6f1d7a1b9e2d3c4f...\""
            Last-Modified:
              description: When the payload was staged (HTTP-date)
              schema:
                type: string
                example: "Tue, 04 Nov 2025 12:34:56 GMT"
            X-Checksum-SHA256:
              description: SHA-256 checksum of the XML body (hex)
              schema:
                type: string
                example: "6f1d7a1b9e2d3c4f9a0b..."
            Cache-Control:
              description: No-store to prevent caching at rest
              schema:
                type: string
                example: "no-store"
            Content-Disposition:
              description: Suggested filename
              schema:
                type: string
                example: "attachment; filename=\"patient-data-out.xml\""
            Content-Length:
              description: Length of the XML body in bytes
              schema:
                type: string
                example: "12345"
          content:
            application/xml:
              schema:
                type: string
              example: |
                <?xml version="1.0" encoding="UTF-8"?>
                <eid version="4.5">
                  <identity nationalnumber="00000000000" dateofbirth="19700101" gender="male" specialstatus="NO_STATUS">
                    <name>DOE JOHN</name>
                    <firstname>JOHN</firstname>
                    <nationality>BE</nationality>
                    <placeofbirth>BRUSSELS</placeofbirth>
                    <photo></photo>
                  </identity>
                </eid>
        "304":
          description: Not Modified (content unchanged since the provided ETag)
        "404":
          description: No staged XML found for this drsId, or it has expired
          content:
            text/plain:
              schema:
                type: string
                example: Not found or expired
        "500":
          description: Internal server error

  /api/emr/results:
    get:
      summary: Fetch queued EMR results (via API key).
      description: |
        Returns **all queued results** currently staged for the practice’s configured EMR provider.

        **Authentication**:
        - HTTP header: `x-api-key: YOUR_API_KEY`

        This is intended for EMRs to request periodically (e.g. after each patient or end-of-day).
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Results returned successfully (queue was cleared after reading)
          content:
            application/json:
              schema:
                type: object
                required: [ok, provider, count, results]
                properties:
                  ok:
                    type: boolean
                    example: true
                  provider:
                    type: string
                    example: "EMR name"
                  count:
                    type: integer
                    example: 2
                  results:
                    type: array
                    description: |
                      Array of result objects (each item is a JSON object previously queued by Nexumed).
                      Contents can include XML/PDF payloads and metadata like procedure/device/model.
                    items:
                      type: object
                      additionalProperties: true
        "204":
          description: No queued results available (empty queue)
        "400":
          description: Bad request (e.g. missing API key, or no EMR provider configured)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Missing API key"
        "401":
          description: Unauthorized (invalid API key)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Invalid API key"
        "403":
          description: Subscription inactive or not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Subscription inactive"
                  drsId:
                    type: string
                    example: "98765432112"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Failed to fetch EMR results"
